.footer-container {
  background: linear-gradient(90deg, rgb(36, 36, 36) 0%, rgb(36, 36, 36) 0%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vx;
  position: sticky;
  top: 0;
  z-index: 999;
  color: #fff;
}
.footer-icon {
  display: inline-block;
  justify-self: start;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  align-items: center;
  padding: 0rem 1rem;
}
.links {
  color: #fff;
}
.links:hover {
  color: #4086db;
  transition: all 0.2s ease-out;
}
.footer-notes {
  font-size: small;
  margin-top: 10px;
}
